head
{
  font-weight: bolder;
  font-size: large;
}

#p1
{
   font-size: medium;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style: normal;
}

#p2
{
   font-size: medium;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style: normal;
}